title = "Portal"
url = "/"
layout = "portal"
is_hidden = 0

[noticeCenter]

== 
<div class="row components row-eq-height" id="menu">
  <div class="text-center" id="mobile-header">
    <h4>HEADEr here</h4>
  </div>
  <div class="col-md-4 col-xs-4">
    <a href="#" id="noticecenter-menu" class="menu">
		<span>
      <span class="badge">4</span>
      <i class="fa fa-sticky-note-o"></i>Notices

    </span>
	   </a>
  </div>
  <div class="col-md-4 col-xs-4">
    <a href="#" id="calendarcenter-menu">
      <span>
        <span class="badge">2</span>
        <i class="fa fa-calendar"></i>Calendar
      </span>
    </a>
  </div>
  <div class="col-md-4 col-xs-4"><span>
  <span class="badge">42</span>
  <i class="fa fa-list"></i>To Do


  </span></div>
  <div class="col-md-4 col-xs-4"><span>
  <span class="badge">42</span>
  <i class="fa fa-check-square-o"></i>Attendance


  </span></div>
  <div class="col-md-4 col-xs-4"><span>
  <span class="badge">42</span>
  <i class="fa fa-tasks"></i>Tasks


  </span></div>
  <div class="col-md-4 col-xs-4"><span>
  <span class="badge">42</span>
  <i class="fa fa-folder-o"></i>Reports


  </span></div>
  <div class="col-md-4 col-xs-4"><span>
  <span class="badge">42</span>
  <i class="fa fa-soccer-ball-o"></i>Sports


  </span></div>
  <div class="col-md-4 col-xs-4"><span>
  <span class="badge">42</span>
  <i class="fa fa-users"></i>Profile


  </span></div>
  <div class="col-md-4 col-xs-4"><span>
  <span class="badge">42</span>
  <i class="fa fa-gear"></i>Settings


  </span></div>
  <div class="col-md-4 col-xs-4"><span>
  <span class="badge">42</span>
  <i class="fa fa-futbol-o"></i>


  </span></div>
  <div class="col-md-4 col-xs-4"><span>
    <span class="badge">42</span>
    <i class="fa fa-futbol-o"></i>
    </span>
  </div>
  <div class="col-md-4 col-xs-4"><span>
  <span class="badge">42</span>
  <i class="fa fa-futbol-o"></i>
  </span>
  </div>
  <div class="mobile-footer row">
      <a href="#" id="home-menu" class="menu back-link pull-right">
          <i class="fa fa-phone"></i>
      </a>
  </div>
</div>

{% partial 'notice-center' %}
{% partial 'calendar-center' %}