/* CSS */
body {}
#calendar-items a {
    text-decoration: none;
    overflow: auto;
    display: block;
    border-bottom: 1px solid #777;
}

#calendar-items
{
	overflow: auto;
	margin-bottom: 64px;
}

#calendar-items .start-date {
    color: #000000;
    font-weight: bold;
    text-align: center;
}

#calendar-items .start-year {
    color: #f9ff00;
    font-weight: bold;
    text-align: center;
}

#calendar-items .start-time,
#calendar-items .start-period
 {
    color: #000000;
    text-align: center;
}

#calendar-items .description {
    color: #000;
    font-weight: bold;
    text-align: left;
}

#calendar-items .location {
    color: #777;
    font-weight: bold;
    text-align: left;
}

#loading {
    margin-top: -64px;
    margin-bottom: 64px;
    height: 90px;
    background: url(../images/loading.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

.center-item {
    padding: 5px 0px;
}

.footer-spacer {
    width: 100%;
    height: 64px;
}

.content-footer {
    position: fixed;
    bottom: 64px;
    width: 100%;
    background-color: #efff00;
    font-size: 30px;
    padding: 0px 10px;
}

.content-footer a {
    color: #000;
    margin: 0px 5px;
}


.main-header span {
    color: #000;
}

.content-wrapper {
    padding: 0px 20px;
}

#calendarcenter h4 {
    overflow: auto;
    width: 100%;
    font-weight: bold;
}

.settings-item {
    margin: 2px 0px;
    padding: 0px;
    font-size: 25px;
    color: #fff;
}

.settings-item div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.settings-item div a.disabled{
    color: #777;
}

.settings-item div a {
    color: #000;
}