==
<?php
function onEnd()
{
    $calendars = [];
    $calendars[] = [ 'month' => 'June', 'day' => '6th', 'starttime' => '12:30PM', 'endtime' => '2:30PM', 'description' => 'lorem ipsum',  ];
    $calendars[] = [ 'month' => 'February', 'day' => '21st', 'starttime' => '5:15PM', 'endtime' => '7:45PM' ];
    $calendars[] = [ 'month' => 'October', 'day' => '10th', 'starttime' => '7:30PM', 'endtime' => '1:00PM' ];
    $this['calendars'] = $calendars;

}
?>
==
<div class="row centers" id="calendarcenter">
  <div class="row center-header">
    <div class="home-link col-md-3 col-xs-3 text-left">
      <a href="#">
        <i class="fa fa-home"></i>
      </a>
    </div>
    <div class="center-icon col-md-6 col-xs-6 text-center">
      <i class="fa fa-calendar"></i>
      <span>calendars</span>
    </div>
    <div class="menu-icon col-md-3 col-xs-3 text-right">
      <i class="fa fa-search"></i>
      <i class="fa fa-bars"></i>
    </div>
  </div>
  {% for calendar in calendars %}
    <div class="col-md-12 center-item">
      <a href="#" class="calendar-content">
        <div class="pull-left">
          <span class="date">{{ calendar.month }} {{ calendar.day }}</span>
          <span class="year">2016</span>
        </div>
        <div class="pull-left">
          <span class="starttime">{{ calendar.starttime }}</span>
        </div>
        <div class="calendar-text">
          <span class="description">{{ calendar.CONTENT|raw[0:150] }}...</span>
          <span class="text" style="display: none;">{{ calendar.CONTENT|raw }}</span>
        </div>
      </a>
    </div>
  {% endfor %}
  <div id="calendar-main" class="center-main col-md-12" style="display: none;">
    <div class="links">
      <i class="fa fa-eye pull-left" aria-hidden="true"></i>
      <i class="fa fa-heart pull-left" aria-hidden="true"></i>
      <i class="fa fa-trash pull-left" aria-hidden="true"></i>
      <i class="fa fa-calendar pull-right" aria-hidden="true"></i>
    </div>
    <h5 class="title"></h5>
    <p class="text"></p>
  </div>
  <div class="center-footer col-md-12">
      <a href="#" class="menu back-link pull-left">
          <i class="fa fa-arrow-left"></i>
      </a>
      <a href="#" class="menu back-link pull-right">
          <i class="fa fa-phone"></i>
      </a>
  </div>
</div>
