==
<?php
use October\Rain\Parse\Bracket;

function onEnd()
{
    $notices = [];
    $json = file_get_contents('https://edumate.plc.nsw.edu.au/plc/PLC_CUSTOM_DEV/PORTALDEV/edu_json.php?sql=02notices');
    $notices = json_decode($json);
    $notice_items = [];
    foreach($notices as $notice)
    {
        
        $item = (array)$notice;
        //$item['CONTENT'] = Bracket::parse($item['CONTENT']);
        $notice_item[] = $item;
    }
    $this['notices'] = $notice_item;

}

public function onStringHTML($string)
{
  return $string;
}
?>
==
<div class="row centers" id="noticecenter">
  <div class="row center-header">
    <div class="home-link col-md-3 col-xs-3 text-left">
      <a href="#">
        <i class="fa fa-home"></i>
      </a>
    </div>
    <div class="center-icon col-md-6 col-xs-6 text-center">
      <i class="fa fa-sticky-note-o"></i>
      <span>Notices</span>
    </div>
    <div class="menu-icon col-md-3 col-xs-3 text-right">
      <i class="fa fa-search"></i>
      <i class="fa fa-bars"></i>
    </div>
  </div>
  {% for notice in notices %}
    <div class="col-md-12 center-item">
      <a href="#" class="notice-content">
        <div class="thumbnail pull-left">
          <span class="default-text">NO IMAGE</span>
          <img src="{{ notice.IMAGE }}" />
        </div>
        <div class="notice-text">
          <h6>{{ notice.HEADLINE }}</h6>
          <span>{{ notice.CONTENT|raw[0:150] }}...</span>
          {% set content = notice.CONTENT %}
          <span class="text">{{ dump(this.onStringHTML(content)) }}</span>
          <span class="link">more</span>
        </div>
      </a>
    </div>
  {% endfor %}
  <div id="notice-main" class="center-main col-md-12" style="display: none;">
    <div class="links">
      <i class="fa fa-eye pull-left" aria-hidden="true"></i>
      <i class="fa fa-heart pull-left" aria-hidden="true"></i>
      <i class="fa fa-trash pull-left" aria-hidden="true"></i>
      <i class="fa fa-calendar pull-right" aria-hidden="true"></i>
    </div>
    <h5 class="title"></h5>
    <p class="text"></p>
  </div>
  <div class="center-footer col-md-12">
      <a href="#" class="menu back-link pull-left">
          <i class="fa fa-arrow-left"></i>
      </a>
      <a href="#" class="menu back-link pull-right">
          <i class="fa fa-phone"></i>
      </a>
  </div>
</div>
