
<div class="row centers" id="calendarcenter">
  <div class="row center-header">
    <div class="home-link col-md-3 col-xs-3 text-left">
      <a href="#">
        <i class="fa fa-home"></i>
      </a>
    </div>
    <div class="center-icon col-md-6 col-xs-6 text-center">
      <i class="fa fa-sticky-note-o"></i>
      <span>Schedules</span>
    </div>
    <div class="menu-icon col-md-3 col-xs-3 text-right">
      <i class="fa fa-search"></i>
      <i class="fa fa-bars"></i>
    </div>
  </div>
  <div id="calendar-items">
{% if __SELF__.getCalendarFeed %}

  {% for schedule in __SELF__.getCalendarFeed %}
  <a href="#" data-request="onLoadCalendarContent" data-hook="calendar-item" data-request-data="row: {{ schedule.ROWNUM }}" data-request-update="'{{ __SELF__ }}::calendar-content': '#calendarcenter'">
    <div class="col-sm-12 center-item">
    	
    		<div class="col-sm-3">
	    		<div class="col-sm-12 start-date">{{ schedule.start_date }}</div>
	    		<div class="col-sm-12  start-year">{{ schedule.start_year }}</div>
	    	</div>
	    	<div class="col-sm-1">
          <div class="col-sm-12 start-time">{{ schedule.start_time }}</div>
	         <div class="col-sm-12 start-period">{{ schedule.start_period }}</div>
	    	</div>
	    	<div class="col-sm-8">
	    		<div class="col-sm-12 description">{{ schedule.Description }}</div>
	    		<div class="col-sm-12 location">{{ schedule.Location }}</div>
	    	</div>
	    
    </div>
	</a>
  {% endfor %}
{% endif %}
  </div>
  <div id="loading" style="display: none;"></div>
  <div class="footer-spacer"></div>
  <div class="center-footer col-md-12">
      <a href="#" class="menu back-link pull-left">
          <i class="fa fa-arrow-left"></i>
      </a>
      <a href="#" class="menu back-link pull-right">
          <i class="fa fa-phone"></i>
      </a>
  </div>
</div>