<div class="content-wrapper">
	<div class="content-header links">

		<i class="fa fa-eye pull-left" aria-hidden="true"></i>
		<i class="fa fa-heart pull-left" aria-hidden="true"></i>
		<i class="fa fa-trash pull-left" aria-hidden="true"></i>
		<i class="fa fa-calendar pull-right" aria-hidden="true"></i>
	</div>

	<div class="main-header">
	<span class="pull-left">
	{{ __SELF__.calendarContent['start_date'] }}
	<span style="color: #efff00;">{{ __SELF__.calendarContent['start_year'] }}</span>
	</span>
	<span class="pull-right">
	{{ __SELF__.calendarContent['start_time'] }}
	{{ __SELF__.calendarContent['start_period'] }}
	-
	{{ __SELF__.calendarContent['end_time'] }}
	{{ __SELF__.calendarContent['end_period'] }}
	</span>
	</div>
	<h4 class="text-center">{{ __SELF__.calendarContent['Description'] }}</h4>
	<h4 class="text-center" style="color: #999;">{{ __SELF__.calendarContent['Location'] }}</h4>
	<p>{{ __SELF__.calendarContent['Details'] }}</p>
	
</div>
<div class="content-footer">
	<a href="#" class="menu back-link pull-left" >
        <i class="fa fa-calendar"></i>
    </a>
    <a href="#" class="menu back-link pull-left" >
        <i class="fa fa-map-pin"></i>
    </a>
    <a href="#" class="menu back-link pull-left" >
        <i class="fa fa-heart-o"></i>
    </a>
    <a href="#" class="menu back-link pull-right" data-request="onCalendarSettings" data-request-update="'{{ __SELF__ }}::calendar-settings': '#calendarcenter'">
        <i class="fa fa-gears"></i>
    </a>
</div>
<div class="center-footer col-md-12">
	<a href="#" class="menu back-link pull-left" data-request="onBack" data-request-update="'{{ __SELF__ }}::calendar-center': '#calendarcenter'">
	  <i class="fa fa-arrow-left"></i>
	</a>
	<a href="#" class="menu back-link pull-right">
	  <i class="fa fa-phone"></i>
	</a>
</div>