<div class="content-settings-wrapper">
	{% if __SELF__.calendar_settings_items %}

	  {% for item in __SELF__.calendar_settings_items %}

	    <div class="col-sm-12 settings-item">
	    		<div class="col-sm-11 settings-title text-center" style="background-color: {{ item.HEX_COLOUR }}">
		    		<span> {{ item.AUDIENCE_TYPE }}</span>
		    	</div>
		    	<div class="col-sm-1">
		    		{% if item.disabled == true %}
		    			<a href="#" class="disabled" data-request="onCalendarSettingsUpdate" data-request-data="id:{{ item.AUDIENCE_TYPE_ID }},disabled: false" data-request-update="'{{ __SELF__ }}::calendar-settings': '#calendarcenter'">
					        <i class="fa fa-eye-slash"></i>
					    </a>
		    		{% else %}
		    			<a href="#" data-request="onCalendarSettingsUpdate" data-request-data="id:{{ item.AUDIENCE_TYPE_ID }},disabled: true" data-request-update="'{{ __SELF__ }}::calendar-settings': '#calendarcenter'">
					        <i class="fa fa-eye"></i>
					    </a>
		    		{% endif %}
		    	</div>		    
	    </div>
	  {% endfor %}
	{% endif %}
</div>

<div class="center-footer col-md-12">
	<a href="#" class="menu back-link pull-left" data-request="onBack" data-request-update="'{{ __SELF__ }}::calendar-center': '#calendarcenter'">
	  <i class="fa fa-arrow-left"></i>
	</a>
	<a href="#" class="menu back-link pull-right">
	  <i class="fa fa-phone"></i>
	</a>
</div>