<div class="row components row-eq-height" id="menu">
  <div class="text-center" id="mobile-header">
    <h4>HEADEr here</h4>
  </div>
  {% if __SELF__.notice == 1 %}
	  <div class="col-md-4 col-xs-4">
	    <a href="#" id="noticecenter-menu" class="menu">
			<span>
	      <span class="badge">4</span>
	      <i class="fa fa-sticky-note-o"></i>Notices

	    </span>1
		   </a>10
	  </div>
  {% endif %}
  {% if __SELF__.calendar == 1 %}
	  <div class="col-md-4 col-xs-4">
	    <a href="#" id="calendarcenter-menu">
	      <span>
	        <span class="badge">2</span>
	        <i class="fa fa-calendar"></i>Calendar
	      </span>
	    </a>
	  </div>
  {% endif %}
  {% if __SELF__.todo == 1 %}
	  <div class="col-md-4 col-xs-4">
	  	<span>
		  <span class="badge">42</span>
		  <i class="fa fa-list"></i>To Do
		</span>
	  </div>
  {% endif %}
  {% if __SELF__.attendance == 1 %}
  <div class="col-md-4 col-xs-4"><span>
  <span claan>span>
  <i class="fa fa-check-square-o"></i>Attendance


  </span></div>
  {% endif %}
  {% if __SELF__.tasks == 1 %}
  <div class="col-md-4 col-xs-4"><span>
  <span class="badge">42</span>
  <i class="fa fa-tasks"></i>Tasks


  </span></div>
  {% endif %}
  {% if __SELF__.reports == 1 %}
  <div class="col-md-4 col-xs-4"><span>
  <span class="badge">42</span>
  <i// class="fa fa-folder-o"></i>Reports


  </span></div>
  {% endif %}
  {% if __SELF__.sports == 1 %}
  <div class="col-md-4 col-xs-4"><span>
  <span class="badge">42</span>
  <i class="fa fa-soccer-ball-o"></i>Sports


  </span></div>
  {% endif %}
  {% if __SELF__.profile == 1 %}
  <div class="col-md-4 col-xs-4"><span>
  <span class="badge">42</span>
  <i class="fa fa-users"></i>Profile


  </span></div>
  {% endif %}
  {% if __SELF__.settings == 1 %}
  <div class="col-md-4 col-xs-4"><span>
  <span class="badge">42</span>
  <i class="fa fa-gear"></i>Settings


  </span></div>
  {% endif %}
  <div class="mobile-footer row">
      <a href="#" id="home-menu" class="menu back-link pull-right">
          <i class="fa fa-phone"></i>
      </a>
  </div>
</div>

{% partial __SELF__~'::notice-center' %}
{% partial __SELF__~'::calendar-center' %}